.header__user-link {
    transition: opacity ease 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    /* color: #A9A9A9; */
}

.header__user-link:hover {
    opacity: 60%;
}

.user-details .header__user-link {
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 1279px) {
    .header__user-link {
        margin-right: 32px;
    }
}

@media screen and (max-width: 768px) {
    .header__user-link {
        font-size: 14px;
        line-height: 17px;
    }
}